@model Instagramm.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Вход";
    Layout = "_Layout";
}

<h2>Вход в приложение</h2>

<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="ReturnUrl"/>

    <div>
        <label asp-for="EmailOrUserName"></label><br/>
        <input asp-for="EmailOrUserName"/>
        <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label><br/>
        <input asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="RememberMe"></label><br/>
        <input asp-for="RememberMe"/>
    </div>

    <div>
        <input type="submit" value="Войти"/>
    </div>
</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}